
NWSocial/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
NWSocial/obj/Debug/netcoreapp3.0/NWSocial.AssemblyInfo.cs
NWSocial/obj/Debug/netcoreapp3.1/NWSocial.assets.cache
NWSocial/obj/Debug/netcoreapp3.1/NWSocial.csprojAssemblyReference.cache
NWSocial/obj/Debug/netcoreapp3.0/NWSocial.AssemblyInfoInputs.cache
.idea/*
NWSocial/obj/*
.vs/*
NWSocial/bin/Debug/netcoreapp3.1/NWSocial.pdb
.vs/NWSocial/v16/.suo
NWSocial/bin/Debug/netcoreapp3.1/NWSocial.dll
NWSocial/bin/Debug/netcoreapp3.1/NWSocial.pdb
NWSocial/obj/Debug/netcoreapp3.1/NWSocial.csprojAssemblyReference.cache
*.cache
NWSocial/obj/Debug/netcoreapp3.1/NWSocial.csprojAssemblyReference.cache
