
.vs/NWSocial/v16/.suo
.vs/NWSocial/v16/.suo
NWSocial/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
.vs/NWSocial/v16/.suo
NWSocial/obj/Debug/netcoreapp3.0/NWSocial.AssemblyInfoInputs.cache
NWSocial/obj/Debug/netcoreapp3.1/NWSocial.assets.cache
NWSocial/obj/NWSocial.csproj.nuget.dgspec.json
NWSocial/obj/NWSocial.csproj.nuget.g.props
NWSocial/obj/project.assets.json
NWSocial/obj/project.nuget.cache
.vs/NWSocial/v16/.suo
NWSocial/obj/NWSocial.csproj.nuget.g.props
